// Cores
$primary-color: #FDD641;
$secondary-color: #F5F5F5;
$terciary-color: #F0F0F0;
$background-color: #FFEFBB;

// Tipografia
$font-family: 'Arial', sans-serif;
$font-size-base: 16px;
$heading-font-size: 24px;

// Espaçamento
$padding-base: 16px;
$margin-base: 16px;

// Bordas
$border-radius: 4px;

